@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: v.$font;
  font-size: 1.6rem;
}
.container {
  width: 90%;
  max-width: 154rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
}
select {
  border: 0px;
  outline: 0px;
}
a:visited {
  text-decoration: none;
  color: unset;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.close-menu {
  opacity: 0;
}

.open-menu {
  opacity: 100;
  transition: opacity 1s;
}
