// Fuentes
$font: "Poppins", sans-serif;

// Media Queries
$tabletSmall: 480px;
$tabletMed: 768px;
$desktopMed: 1024px;
$desktopBig: 1440px;

// Colores
$background: #111827;
$bgSecondary: #1f3672;
$primaryNeutral: #5f5f5f;
$white: hsl(0, 0%, 100%);
$gray: hsl(225, 3%, 77%);

// Unidades
$separacion: 5rem;
