@use "../base/variables" as v;
@use "../base/mixins" as m;

.card {
  max-width: 309px;
  &-title {
    font-size: 28px;
    @include m.tabletMed {
      font-size: 3rem;
    }

    font-weight: 300;
    color: #111827;
  }
  &-tags {
    display: flex;
    gap: 1rem;
  }
  &-image {
    max-width: 22.9rem;
    max-height: 20.5rem;
    @include m.tabletMed {
      max-width: 30.9rem;
      max-height: 28.5rem;
    }
    padding-top: 2rem;
  }
  &-buttons {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
  }
}
