@use "../base/variables" as v;
@use "../base/mixins" as m;

.card {
  max-width: 309px;
  &-title {
    font-size: 28px;
    @include m.tabletMed {
      font-size: 3rem;
    }

    font-weight: 300;
    color: #111827;
  }
  &-tags {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  &-image {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
    @include m.tabletMed {
      max-width: 30.9rem;
      max-height: 28.5rem;
    }
  }
  &-buttons {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
  }
}
.cardLarge {
  width: 80%;
  background-color: #0171ba;
  padding: 0.1rem 5.2rem;
  color: white;
  border-radius: 2rem;
  &-description {
    margin: 0;
  }
  &-timeframe {
    display: flex;
    justify-content: space-between;
    &_timeline {
      font-weight: 400;
    }
  }
}
