@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.link {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  &-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
  }
  &-underline {
    height: 2px;
    width: 80%;
  }
}
.white {
  color: white;
  &-bg {
    background-color: white;
  }
}
.black {
  color: v.$background;

  &-bg {
    background-color: v.$background;
  }
}

.outline {
  border: 0.3rem solid #08a3e5;
  color: #08a3e5;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  &:hover {
    cursor: pointer;
  }
}
