.link {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  &-button {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
  }
  &-underline {
    height: 2px;
    background-color: white;
  }
}
